/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
.env
.env.backup
.env.testing
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.phpunit.result.cache
.phpunit.result.cache
.phpstorm.meta.php
/database/*.sqlite
/storage/logs/*.log
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
.DS_Store
Thumbs.db
*.sql
*.zip
*.tar.gz
*.gz
